@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sulphur Point', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: .25px solid #FFDF36;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px inset;
}

@keyframes swipe {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }

}

.animate-swipe {
  animation: swipe 0.7s linear infinite ;
}
