@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root{
  --accent-color: #FFDF36
}

button:focus, input:focus {
  outline: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--accent-color) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--accent-color),
  0 0 5px var(--accent-color) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
}

.strip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 62%, 0 100%);
}
